
$button-color-footer: white;

.hemenAlButton {
  margin: 30px 0;
  padding: 2px 50px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 24px;
  font-weight: 900;
}

.footerButton {
  border: 3px solid $button-color-footer;
  color: $button-color-footer;
  
  &:hover {
    background-color: $tertiary-color;
    border-color: $tertiary-color;
    color: white;
  }
}

.blockButton {
  background-color: $tertiary-color;
  border: 3px solid $tertiary-color;
  color: white;
  position: absolute;
  left: calc(50% - 130px);
  bottom: 0;
  font-size: 32px;

  &:hover {
    background-color: transparent;
    color: $tertiary-color;
  }
}
