
.socialContainer {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

address {
  font-size: 16px;
  color: white;
}

.socialIcons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 20px;

  a {
    background-color: $primary-color;
    padding: 16px;
    width: 80px;
    height: 80px;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.5);
    box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.5);



    &:hover {
      background-color: $tertiary-color;

      -webkit-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.9);
      -moz-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.9);
      box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.9);
    }

    i {
      color: white;
      font-size: 50px;
    }
  }
}

.bankLogoList {
  height: 52px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  img {
    margin: 15px auto;
  }
}

.footerMenu {
  color: white;
  list-style: none;
  margin: 60px 0;
  text-align: left;
  padding: 0;

  li {
    margin:12px 0;

    a {
      color: white;
      padding: 12px 0;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

.turkeyLogo {
  img {
    margin-top: 100%;
    max-width: 120px;
  }
}


.upIcon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: $primary-color;
  position: absolute;
  z-index: 16;
  bottom: 64px;
  left: 64px;
  text-align: center;
  opacity: 0.98;

  -webkit-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.5);
  box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.5);

  i {
    color: white;
    font-size: 50px;
    margin: 13px 0 0 0;
  }
}

.upIcon.noTouch {
  &:hover {
    background-color: $tertiary-color;
    cursor: pointer;
    opacity: 1;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.9);
    -moz-box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.9);
    box-shadow: 0px 0px 30px 0px rgba(89,89,89,0.9);
  }
}