
.bannerSlogan {
  margin: 34vh 0 0 0;
}

.menu_nav {
  margin: 80px 0 10px;
}

.menu_nav_container {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;

  >li {
    position: relative;

    >a {
      font-size: 18px;
      font-weight: 400;
      color: $primary-color;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }

    img {
      display: none;
      position: absolute;
    }
  }

  li.myAccount {
    i {
      color: $primary-color;
      vertical-align: text-top;
    }

    &:hover {
      i {
        color: $tertiary-color;
      }

      .dropdown {
        display: block;
      }
    }

    .dropdown {
      display: none;

      ul {
        list-style: none;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 30;

        >li {
          padding: 10px 6px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.22);
          border-right: 1px solid rgba(0, 0, 0, 0.12);
          border-left: 1px solid rgba(0, 0, 0, 0.12);
          border-top: 1px solid rgba(0, 0, 0, 0.04);
          border-radius: 10px;
          margin: 2px 0;
          background-color: #fcfbfb;
        }

        a {
          font-size: 14px;
          font-weight: 400;
          color: $primary-color;
          
          &:focus,
          &:hover {
            text-decoration: none;
            color: $tertiary-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.menu_nav_container.noTouch {
  >li{
    &:hover {
      cursor: pointer;

      img {
        display: block;
      }
      >a {
        color: $tertiary-color;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.bannerSlogan {
  h1 {
    span {
      display: block;
      font-weight: 400;

      &:first-child {
        color: $primary-color;
        font-size: 40px;
      }
      &:nth-child(2) {
        color: $tertiary-color;
        font-size: 50px;
        float: right;
      }
    }
  }
}

.logoContainer {
  img {
    position: absolute;
    margin: 20px;
  }
}

.bannerContainer {
  margin-top: 20px;
}

.menuContainer {
  max-width: 1200px;
}