@media (max-width: 1200px) {
  .block1>img,
  .block2>img,
  .block3>img {
    position: relative;
  }

  .block1>img {
    margin-left: 16px;
  }

  .block2>img {
    margin-top: 16px;
  }

  .block3>img {
    left: 0;
  }

  .menu_nav_container li a {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .menu_nav_container li a {
    font-size: 14px;
  }

  .bannerSlogan h1 span:first-child {
    font-size: 36px;
  }
}

@media (max-width: 768px) {

  .product-image-slider {
    height: 500px;
  }
  .footerMenu {
    margin: 20px 0 0 0;
    text-align: center;
  }

  footer {
    height: auto;
  }

  .turkeyLogo img {
    margin: 10px 0 20px;
  }

  .hemenAlButton {
    margin: 44px 0;
  }

  .topContainer {
    min-height: 700px;
    margin-top: 4px;
  }

  .logoContainer {
    text-align: center;

    img {
      max-height: 160px;
      position: relative;
      margin: 10px;
    }
  }
  .menu_nav {
    margin: 24px 0 0;
  }

  .menu_nav_container {
    display: block;

    li {
      display: block;
      width: 100%;
      margin-bottom: 10px;

      a {
        font-size: 14px;
      }
    }
  }

  .bannerSlogan {
    margin: 4vh auto;
    max-width: 400px;

    h1 {
      span{
        &:first-child {
          font-size: 28px;
        }

        &:nth-child(2){
          font-size: 32px;
        }
      }
    }
  }

  .product-image-slider {
    margin-top: 46px;
  }

  .close-bottle, .open-bottle {
    background-position: top;
  }

  .blockButton {
    display: none;
  }

  .hemenAlRoundIcon{
    width: 64px;
    height: 64px;
    border-radius: 32px;
    bottom: 20px;
    right: 32px;


    i{
      font-size: 32px;
      margin: 16px 0 -5px;
    }
  }

  .upIcon{
    width: 64px;
    height: 64px;
    border-radius: 32px;
    bottom: 80px;
    left: 20px;


    i{
      font-size: 32px;
      margin: 16px 0 -5px;
    }
  }

  .back-block {
    height: auto;
    max-width: 100%;
  }

  .socialIcons{
    a{
      width: 50px;
      height: 50px;
      padding: 12px;

      i {
        font-size: 24px;
      }
    }
  }

  .white-block{
    h2 {
      margin: 0;
      font-size: 22px;

      span {
        display: block;
      }
    }
  }

  .slick-prev {
    left: -15px;
  }

  .slick-next {
    right: -15px;
  }

  .menu_nav_container li img,
  .menu_nav_container.no-touch li:hover img{
    display: none;
  }
}